.DS_Store
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!environments/lab/terraform.tfvars
!environments/organization/terraform.tfvars
crash.log
crash.*.log
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.key
*.cert
*.crt
*.p12
*.pfx
kubeconfig*
